/* style {
    display: ;
  } */ 

* {
    font-family: "Courier New", "Lucida Console", Monospace;
  }

h1, h2, h3 {
    color: hs1(255, 50%, 30%);
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3 {
        color: hs1(255, 50%, 80%);
    }
}



address {
    display: block;
    font-style: italic;
  }