<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yfinance_plotly</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link rel="stylesheet" href="/static/style.css" />
</head>
</head>
<!--create Navbar Section-->
<nav class="navbar">
    <div class="navbar__container">
        <a href="#home" id="navbar__logo">MARCUS LAZALDI</a>
        <div class="navbar__toggle" id="mobile-menu">
            <spank class="bar"></spank>
            <spank class="bar"></spank>
            <spank class="bar"></spank>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links" id="Home">Home</a>
            </li>
            <li class="navbar__item">
                <a href=/chartjs class="navbar__links" id="chartjs">Chartjs</a>
            </li>
            <li class="navbar__item">
                <a href=/plotly class="navbar__links" id="Plotly">Plotly</a>
            </li>
            <!-- <li class="navbar__btn">
                <a href="#sign-up" class="button" id="signup">Sign Up</a>
            </li> -->
        </ul>
    </div>
</nav>
<script src="/static/app.js"></script>
</head>
<body>
    <h2>chartjs style for web app:</h2>
    <p>
        COMING SOON.  CURRENTLY UNDER CONSTRUCTION.  :) 
    </p>
    <span style="height: 124px;">&nbsp;</span>
</body>
<body>
</body>
</html>