<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yfinance_Chartjs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
</head>
</head>
<!--create Navbar Section-->
<nav class="navbar">
    <div class="navbar__container">
        <a href="#home" id="navbar__logo">MARCUS LAZALDI</a>
        <div class="navbar__toggle" id="mobile-menu">
            <spank class="bar"></spank>
            <spank class="bar"></spank>
            <spank class="bar"></spank>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links" id="Home">Home</a>
            </li>
            <li class="navbar__item">
                <a href=/chartjs class="navbar__links" id="chartjs">Chartjs</a>
            </li>
            <li class="navbar__item">
                <a href=/plotly class="navbar__links" id="Plotly">Plotly</a>
            </li>
            <!-- <li class="navbar__btn">
                <a href="#sign-up" class="button" id="signup">Sign Up</a>
            </li> -->
        </ul>
    </div>
</nav>
<body>
    <h2>chartjs style for web app:</h2>
    <p>
        below we have an example of a chartjs style chart.  It's hooked up to some yfinance data and rendures a very clean visual.
    </p>
    <span style="height: 124px;">&nbsp;</span>
</body>
<div class="chartCard">
    <div class="chartBox">
      <canvas id="yfinance_Chartjs"></canvas>
    </div>
</div>
<script src="/static/app.js"></script>
</head>
<body>
    <canvas id="yfinance_Chartjs" width="500" height="200"></canvas>
    <script>
        async function fetchData() {
                                        const response  = await fetch('/data');
                                        const data      = await response.json();
                                        return data;
                                    }

        async function createChart() {
            const data  = await fetchData();
            const ctx   = document.getElementById('yfinance_Chartjs').getContext('2d');
            const yfinance_Chartjs = new Chart(ctx, {
                type: 'line',
                data: {
                        labels: data.map(row => row.Date),
                        // labels: data.Date,
                        // labels: [1,2,3,4,5,6,7],     static data used to test
                        datasets: [{
                                        label: 'Closing Price',
                                        data: data.map(row => row.Close),
                                        // data: [12,19,3,5,6,12,25],  static data used to test
                                        // data: data.Close,           
                                        // backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        // borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 1
                                    }]
                    },
                options: {
                    maintainAspecRatio: false, 
                    scales: {
                            x: [ 
                                {
                                        display: true,
                                        type: 'time',
                                        time: {
                                                parser: 'MM/DD/YYYY',
                                                tooltipFormat: 'MM/DD/YYYY',
                                                unit: 'month',
                                                unitStepSize: 1,
                                                displayFormats: {
                                                    month: 'MMM YYYY'
                                                    }
                                            }
                                }
                            ],
                        // y: {
                        //     beginAtZero: true
                        // }
                    }
                }
            });
        }
        createChart();
    </script>
</body>
</html>