<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Profile</title>
    <link rel="stylesheet" href="style.css"/>
</head>
        <!--create Navbar Section-->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="#home" id="navbar__logo">MARCUS LAZALDI</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <spank class="bar"></spank>
                    <spank class="bar"></spank>
                    <spank class="bar"></spank>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="#home" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#about" class="navbar__links" id="about-page">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#services" class="navbar__links" id="services-page">Services</a>
                    </li>
                    <li class="navbar__btn">
                        <a href="#sign-up" class="button" id="signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="app.js"></script>
        <h1>
            <img src="/static/images/MuscleMan2.PNG" alt="Me"/>
        </h1>
        <h1>
            Hi, I'm Marcus
        </h1>
        <span style="height: 124px;">&nbsp;</span>
</head>
<body>
        <h2>ABOUT ME:</h2>
        <p>
            Currently working as a Systems Analyst. I'm an aspiring language learner. Foolishly, I study German, Italian and Spanish.  This is ill advised, but it's nice to garner some understanding of these languages.  I also spend a considerable about of time studying IT.  Studying isn't really the term; more like "hands to the keyboard" training.  Professionally, I routinely use T-SQL, Git Bash, regular expression, and python.  Since 2020, I've been a regular with GitLab and Github; which you could probably ascertain from the webpage url.  In practice, I work with python, html, css, and JavaScript to learn web app development. 
        </p>
        <span style="height: 124px;">&nbsp;</span>
        <h2> 
            WHAT I'M WORKING ON:
        </h2>
        <p>
            Developing vizualized data in web apps with python rather than rely on overpriced products like PowerBI, tableau etc.
        </p>
</body>
<footer>
    <span style="height: 124px;">&nbsp;</span>
    <address>
        <p>
            CONTACT INFO:
        </p>
        <p> 
            <a href="mailto:lazaldi1@yahoo.com">email</a><br>
            <a href="http://linkedin.com/in/marcus-lazaldi-11605265">linkedin</a><br>
            <a href="http://x.com/LazaldiM">X</a><br>
        </p>
         
    </address>
</footer>
</html>